<!DOCTYPE html>
<html>
<head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <meta name="google-signin-client_id" content={{CLIENT_ID}}>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>  

        <h1>catalog app</h1>
        <br>

        <h2>login</h2>
        <hr>

        <p>session state: {{STATE}}  </p>
        <p>client id: {{CLIENT_ID}}  </p>
        <p>client secret: {{CLIENT_SECRET}}  </p>


        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <script>
        async function onSignIn(googleUser) {
            
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            
            var id_token = await googleUser.getAuthResponse().id_token;
            alert('name:'+ profile.getName()+'\n id token:'+ id_token);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{{url_for('gconnect',state=STATE)}}');
            xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
            xhr.send('idtoken='+id_token + '&state='+ '{{STATE}}'+ '&g_id='+ profile.getId());
            // alert('state:'+'{{STATE}}');
           
        }
        </script>

        <p><a href='{{url_for('gdisconnect')}}'> logout </a></p>



        <!--END GOOGLE PLUS SIGN IN -->

</body>

</html>